body, html {
    -webkit-overflow-scrolling: touch;
    /*background-color: #f0f0f0;*/
    margin: 0 auto;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    height: 100%;
    font-family: "TT Lakes", Fallback, sans-serif;
}

header {
    /*padding-top: 16px;*/
    position: relative;
    z-index: 70;
    /*background-color: pink;*/
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 767px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 24px;
    }
}

@media (min-width: 1120px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 32px;
    }
}


.header-items__item-container {
    display: flex;
    min-width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
}

.header-items__container {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

/*.header-items__container > * {*/
/*    margin-right: 15px;*/
/*}*/

/*.header-items__container > div:last-child {*/
/*    margin-right: 0;*/
/*}*/

.header-items__item-status,
.header-items__item-repair,
.header-items__item-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header-items__item-divider {
    min-width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA;
}

.shadow-line {
    position: absolute;
    width: 100%;
    min-height: 1px;
    background: #D9FFF5;
}

main {
    width: 100%;
    min-height: 100%;
    padding-top: 24px;
    background: #F8F8F8;
}

.main__title {
    margin: 0;
    padding: 0;
}

.main__title-highlight {
    position: absolute;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 0);
    border-radius: 2px;
}

.main__title-text h1 {
    margin: 0;
    /*margin-left: 16px;*/
    font-size: 28px;
}

.swiper-container {
    /*max-width: max-content;*/
    min-width: 0;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    touch-action: pan-y;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    transition-property: transform;
    box-sizing: content-box;
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.swiper-slide {
    max-width: max-content;
    margin-right: 15px;
    color: #7E7E82;
    font-size: 16px;
    background: 0;
    border: 0;
    padding: 8px;
}

.active {
    background: white;
    border: 2px solid #B8FFEC;
    border-radius: 10px;
}

.main-content {
    width: 100%;
}

.main-content__text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.read-more {
    display: flex;
    align-items: flex-start;
    line-height: 24px;
    margin-top: 16px;
    /*margin-bottom: 16px;*/
}

.read-more__text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-left: 16px;
}

.image-company {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.image-company__image {
    width: 100%;
    /*mask-image: revert;*/
}

.swiper-slide-active {
    width: 100%;
}
